{% extends 'baseF.html.twig' %}

{% block body %}
    {% for e in location %}

        <div class="col-md-80" style="display:table-cell; vertical-align:middle; text-align:center; padding-top: 5%; padding-bottom: 5%" >


        <img class="card-img-top" src="{{ asset('uploads/images/' ~ e.image) }}" height="150px" alt="Card image" hspace="20">
            <div class="card-body"><hr>
                <h4 class="card-title">{{ e.titre }}</h4>


            </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}